.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    width: 1000px;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.p-messages-error {
    color: red;
    font-size: 13px;
}

.p-inputtext {
    width: 100%;
}